@keyframes apparition-contenu-apres-loadspinner {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.conteneur-sans-loadspinner {
  width: 100%;
  opacity: 0;
  animation: apparition-contenu-apres-loadspinner 2s cubic-bezier(0.34, 0.52, 0.08, 0.92) 3s forwards;
}

body {
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

body {
  font-family: "Roboto", sans-serif;
}

nav a, footer h2, .plats h1 {
  font-family: "Shrikhand", sans-serif;
}

nav a {
  font-weight: bold;
  color: black;
  font-size: 2em;
}

footer h2 {
  color: white;
  font-size: large;
}

.plats h1, footer h2 {
  font-weight: normal;
}

.plats h1 {
  font-size: 1.75em;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}
@keyframes disparition {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes apparition {
  from {
    opacity: 0.25;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadein-translation {
  to {
    margin-top: 0;
    opacity: 1;
  }
}
.fadeinmenu-1 {
  animation: fadein-translation 1.5s ease-in-out 0.2s forwards;
}

.fadeinmenu-2 {
  animation: fadein-translation 1.5s ease-in-out 0.4s forwards;
}

.fadeinmenu-3 {
  animation: fadein-translation 1.5s ease-in-out 0.6s forwards;
}

.fadeinmenu-4 {
  animation: fadein-translation 1.5s ease-in-out 0.8s forwards;
}

.fadeinmenu-5 {
  animation: fadein-translation 1.5s ease-in-out 1s forwards;
}

.fadeinmenu-6 {
  animation: fadein-translation 1.5s ease-in-out 1.2s forwards;
}

.fadeinmenu-7 {
  animation: fadein-translation 1.5s ease-in-out 1.4s forwards;
}

.fadeinmenu-8 {
  animation: fadein-translation 1.5s ease-in-out 1.6s forwards;
}

.fadeinmenu-9 {
  animation: fadein-translation 1.5s ease-in-out 1.8s forwards;
}

.fadeinmenu-10 {
  animation: fadein-translation 1.5s ease-in-out 2s forwards;
}

.fadeinmenu-11 {
  animation: fadein-translation 1.5s ease-in-out 2.2s forwards;
}

.fadeinmenu-12 {
  animation: fadein-translation 1.5s ease-in-out 2.4s forwards;
}

.fadeinmenu-13 {
  animation: fadein-translation 1.5s ease-in-out 2.6s forwards;
}

.fadeinmenu-14 {
  animation: fadein-translation 1.5s ease-in-out 2.8s forwards;
}

.fadeinmenu-15 {
  animation: fadein-translation 1.5s ease-in-out 3s forwards;
}

#loadingspinner {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 200px;
  width: 200px;
  margin: -100px 0 0 -100px;
  border: 6px solid transparent;
  border-top-color: #9356DC;
  border-radius: 50%;
  animation: rotation 1.5s linear 2, disparition 1s 2.25s forwards;
}
#loadingspinner::before {
  content: "";
  position: absolute;
  top: 15px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  border: 4px solid transparent;
  border-radius: 50%;
  border-top-color: #FF79DA;
  animation: rotation 3s linear 1;
}
#loadingspinner::after {
  content: "";
  position: absolute;
  top: 35px;
  right: 35px;
  bottom: 35px;
  left: 35px;
  border: 2px solid transparent;
  border-radius: 50%;
  border-top-color: #99E2D0;
  animation: rotation 1s linear 3;
}

.location {
  display: flex;
  width: 100%;
  background-color: #eaeaea;
  margin: 0;
  height: 50px;
  color: #1e1e1e;
  justify-content: center;
  align-items: center;
}
.location i {
  position: relative;
  right: 30px;
}

.fonctionnement__bouton {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: center;
  width: 300px;
  height: 75px;
  padding-left: 20px;
  background-color: #f7f7f7;
  border-radius: 20px;
  font-weight: 500;
  box-shadow: 0px 3px 10px -1px rgba(0, 0, 0, 0.45);
  -webkit-box-shadow: 0px 3px 10px -1px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 0px 3px 10px -1px rgba(0, 0, 0, 0.45);
}
.fonctionnement__bouton:hover {
  background-color: #f2eafb;
}
.fonctionnement__bouton:hover i {
  color: #9356DC;
}
.fonctionnement__bouton__icone {
  color: #848484;
  padding-right: 25px;
  width: 15px;
  font-size: x-large;
}
.fonctionnement__bouton__numero {
  position: relative;
  right: 35px;
  padding: 5px 10px;
  background-color: #9356DC;
  border-radius: 50%;
  color: white;
}

.coeur i {
  font-weight: 100;
  font-size: 30px;
  margin-right: 20px;
}
.coeur i:hover {
  background: linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
  opacity: 0;
  animation: apparition 0.5s cubic-bezier(1, 0.16, 0.83, 0.67) forwards;
}

.plats__bouton {
  display: flex;
  align-self: center;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-image: linear-gradient(60deg, #FF79DA, #9356DC);
  border-color: transparent;
  border-radius: 30px;
  box-shadow: 0px 3px 10px -1px rgba(0, 0, 0, 0.45);
  -webkit-box-shadow: 0px 3px 10px -1px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 0px 3px 10px -1px rgba(0, 0, 0, 0.45);
  color: white;
  margin-bottom: 60px;
}
.plats__bouton:hover {
  box-shadow: 0px 3px 10px -1px rgba(0, 0, 0, 0.99);
  -webkit-box-shadow: 0px 3px 10px -1px rgba(0, 0, 0, 0.99);
  -moz-box-shadow: 0px 3px 10px -1px rgba(0, 0, 0, 0.99);
  background-image: linear-gradient(60deg, #ff88de, #9b63df);
}

.presentation__bouton, .commande__bouton {
  width: 215px;
  display: flex;
  align-self: center;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-image: linear-gradient(60deg, #FF79DA, #9356DC);
  border-color: transparent;
  border-radius: 30px;
  box-shadow: 0px 3px 10px -1px rgba(0, 0, 0, 0.45);
  -webkit-box-shadow: 0px 3px 10px -1px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 0px 3px 10px -1px rgba(0, 0, 0, 0.45);
  color: white;
  margin-bottom: 60px;
}
.presentation__bouton:hover, .commande__bouton:hover {
  box-shadow: 0px 3px 10px -1px rgba(0, 0, 0, 0.99);
  -webkit-box-shadow: 0px 3px 10px -1px rgba(0, 0, 0, 0.99);
  -moz-box-shadow: 0px 3px 10px -1px rgba(0, 0, 0, 0.99);
  background-image: linear-gradient(60deg, #ff88de, #9b63df);
}

.commande__bouton {
  margin-top: 50px;
  opacity: 0;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
footer li {
  margin-bottom: 5px;
}
footer a {
  text-decoration: none;
  color: white;
}
footer i {
  font-size: 0.8em;
  padding-right: 8px;
}

nav {
  position: relative;
  margin-top: 10px;
  width: 100%;
  height: 53px;
  display: flex;
  align-items: center;
}
nav i {
  position: absolute;
  left: 5%;
  top: 35%;
  font-size: medium;
  color: #383838;
}

nav a {
  width: 100%;
  text-decoration: none;
  text-align: center;
}

.presentation {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  background-color: #f7f7f7;
}
.presentation h1 {
  margin-top: 45px;
  margin-bottom: 0;
  width: 70%;
  text-align: center;
  font-size: x-large;
}
.presentation__soustitre {
  margin: 10px 0;
  width: 80%;
  text-align: center;
  font-weight: 100;
}

.fonctionnement {
  padding: 5%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: #eaeaea;
}
@media screen and (max-width: 768px) {
  .fonctionnement {
    flex-direction: column;
    background-color: white;
  }
}
.fonctionnement h2 {
  width: 100%;
}

.restaurants {
  padding: 5% 5% 120px 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: #f7f7f7;
}
@media screen and (max-width: 768px) {
  .restaurants {
    flex-direction: column;
  }
}
.restaurants h2 {
  width: 100%;
}

.restaurant {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 250px;
  margin-bottom: 18px;
  border-radius: 30px;
  text-decoration: none;
  color: black;
  box-shadow: 0px 3px 10px -1px rgba(0, 0, 0, 0.45);
  -webkit-box-shadow: 0px 3px 10px -1px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 0px 3px 10px -1px rgba(0, 0, 0, 0.45);
}
@media screen and (max-width: 768px) {
  .restaurant {
    width: 100%;
  }
}
.restaurant__photo {
  width: 100%;
  height: 70%;
  position: relative;
}
.restaurant__photo__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}
.restaurant__photo__nouveau {
  position: absolute;
  right: 15px;
  top: 13px;
  display: flex;
  height: 30px;
  width: 80px;
  justify-content: center;
  align-items: center;
  background-color: #99e2d0;
  color: #278870;
}
.restaurant__description {
  height: 30%;
  display: flex;
  flex-direction: row;
  background-color: white;
  border-radius: 0 0 15px 15px;
}
.restaurant__description__texte {
  padding-left: 15px;
  width: 80%;
}
.restaurant__description__texte h3 {
  margin-bottom: 0;
}
.restaurant__description__texte p {
  margin-top: 5px;
  margin-bottom: 0;
}
.restaurant__description__coeur {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
}

footer {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #383838;
  padding: 5%;
  margin-top: 0;
  bottom: 60px;
}

.entete {
  width: 100%;
  height: 250px;
  position: relative;
}
.entete__photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.element-menu {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.plats {
  display: flex;
  flex-direction: column;
  position: relative;
  bottom: 60px;
  width: 90%;
  padding: 5%;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  background-color: #eaeaea;
}
.plats__nom-restaurant {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.plats__nom-restaurant__coeur {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
}
.plats__categorie {
  width: 100%;
}
.plats__categorie h2 {
  font-weight: lighter;
  text-transform: uppercase;
}
.plats__categorie h2 span {
  border-bottom: 2px solid #99E2D0;
}
.plats__categorie__nom-plat {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  overflow: hidden;
  margin-bottom: 15px;
}
.plats__categorie__nom-plat__description {
  min-width: 100%;
  height: 70px;
  display: flex;
  flex-direction: row;
  background-color: white;
  border-radius: 15px;
  flex-wrap: nowrap;
  overflow: hidden;
}
.plats__categorie__nom-plat__description__texte {
  margin: 10px;
  width: 80%;
  transition-property: width;
  transition-duration: 1s;
}
.plats__categorie__nom-plat__description__texte h3,
.plats__categorie__nom-plat__description__texte p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.plats__categorie__nom-plat__description__texte h3 {
  margin: 0;
  font-size: medium;
  font-weight: 600;
}
.plats__categorie__nom-plat__description__texte p {
  margin: 5px 0 0 0;
  font-weight: 300;
}
.plats__categorie__nom-plat__description__prix {
  height: 100%;
  padding-top: 34px;
}
.plats__categorie__nom-plat__description__prix p {
  color: #383838;
  font-weight: bold;
  margin: 0;
}
.plats__categorie__nom-plat__icone-selection {
  display: flex;
  width: 20%;
  align-items: center;
  justify-content: center;
  background-color: #99E2D0;
  border-radius: 0 15px 15px 0;
  margin-right: -20%;
  transform: translateX(0);
  transition-property: transform;
  transition-duration: 1s;
}
.plats__categorie__nom-plat__icone-selection i {
  font-size: x-large;
  color: white;
}
.plats__categorie__nom-plat:hover .check-plat {
  transform: translateX(-100%);
}
.plats__categorie__nom-plat:hover .check-plat i {
  transform: rotate(360deg);
  transition: transform 500ms ease-in-out 100ms;
}
.plats__categorie__nom-plat:hover .reduction-texte-plat {
  width: 60%;
}

.bgmenus {
  background-color: #eaeaea;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}
@keyframes disparition {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes apparition {
  from {
    opacity: 0.25;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadein-translation {
  to {
    margin-top: 0;
    opacity: 1;
  }
}
.fadeinmenu-1 {
  animation: fadein-translation 1.5s ease-in-out 0.2s forwards;
}

.fadeinmenu-2 {
  animation: fadein-translation 1.5s ease-in-out 0.4s forwards;
}

.fadeinmenu-3 {
  animation: fadein-translation 1.5s ease-in-out 0.6s forwards;
}

.fadeinmenu-4 {
  animation: fadein-translation 1.5s ease-in-out 0.8s forwards;
}

.fadeinmenu-5 {
  animation: fadein-translation 1.5s ease-in-out 1s forwards;
}

.fadeinmenu-6 {
  animation: fadein-translation 1.5s ease-in-out 1.2s forwards;
}

.fadeinmenu-7 {
  animation: fadein-translation 1.5s ease-in-out 1.4s forwards;
}

.fadeinmenu-8 {
  animation: fadein-translation 1.5s ease-in-out 1.6s forwards;
}

.fadeinmenu-9 {
  animation: fadein-translation 1.5s ease-in-out 1.8s forwards;
}

.fadeinmenu-10 {
  animation: fadein-translation 1.5s ease-in-out 2s forwards;
}

.fadeinmenu-11 {
  animation: fadein-translation 1.5s ease-in-out 2.2s forwards;
}

.fadeinmenu-12 {
  animation: fadein-translation 1.5s ease-in-out 2.4s forwards;
}

.fadeinmenu-13 {
  animation: fadein-translation 1.5s ease-in-out 2.6s forwards;
}

.fadeinmenu-14 {
  animation: fadein-translation 1.5s ease-in-out 2.8s forwards;
}

.fadeinmenu-15 {
  animation: fadein-translation 1.5s ease-in-out 3s forwards;
}

#loadingspinner {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 200px;
  width: 200px;
  margin: -100px 0 0 -100px;
  border: 6px solid transparent;
  border-top-color: #9356DC;
  border-radius: 50%;
  animation: rotation 1.5s linear 2, disparition 1s 2.25s forwards;
}
#loadingspinner::before {
  content: "";
  position: absolute;
  top: 15px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  border: 4px solid transparent;
  border-radius: 50%;
  border-top-color: #FF79DA;
  animation: rotation 3s linear 1;
}
#loadingspinner::after {
  content: "";
  position: absolute;
  top: 35px;
  right: 35px;
  bottom: 35px;
  left: 35px;
  border: 2px solid transparent;
  border-radius: 50%;
  border-top-color: #99E2D0;
  animation: rotation 1s linear 3;
}

.location {
  display: flex;
  width: 100%;
  background-color: #eaeaea;
  margin: 0;
  height: 50px;
  color: #1e1e1e;
  justify-content: center;
  align-items: center;
}
.location i {
  position: relative;
  right: 30px;
}

.fonctionnement__bouton {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: center;
  width: 300px;
  height: 75px;
  padding-left: 20px;
  background-color: #f7f7f7;
  border-radius: 20px;
  font-weight: 500;
  box-shadow: 0px 3px 10px -1px rgba(0, 0, 0, 0.45);
  -webkit-box-shadow: 0px 3px 10px -1px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 0px 3px 10px -1px rgba(0, 0, 0, 0.45);
}
.fonctionnement__bouton:hover {
  background-color: #f2eafb;
}
.fonctionnement__bouton:hover i {
  color: #9356DC;
}
.fonctionnement__bouton__icone {
  color: #848484;
  padding-right: 25px;
  width: 15px;
  font-size: x-large;
}
.fonctionnement__bouton__numero {
  position: relative;
  right: 35px;
  padding: 5px 10px;
  background-color: #9356DC;
  border-radius: 50%;
  color: white;
}

.coeur i {
  font-weight: 100;
  font-size: 30px;
  margin-right: 20px;
}
.coeur i:hover {
  background: linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
  opacity: 0;
  animation: apparition 0.5s cubic-bezier(1, 0.16, 0.83, 0.67) forwards;
}

.plats__bouton {
  display: flex;
  align-self: center;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-image: linear-gradient(60deg, #FF79DA, #9356DC);
  border-color: transparent;
  border-radius: 30px;
  box-shadow: 0px 3px 10px -1px rgba(0, 0, 0, 0.45);
  -webkit-box-shadow: 0px 3px 10px -1px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 0px 3px 10px -1px rgba(0, 0, 0, 0.45);
  color: white;
  margin-bottom: 60px;
}
.plats__bouton:hover {
  box-shadow: 0px 3px 10px -1px rgba(0, 0, 0, 0.99);
  -webkit-box-shadow: 0px 3px 10px -1px rgba(0, 0, 0, 0.99);
  -moz-box-shadow: 0px 3px 10px -1px rgba(0, 0, 0, 0.99);
  background-image: linear-gradient(60deg, #ff88de, #9b63df);
}

.presentation__bouton, .commande__bouton {
  width: 215px;
  display: flex;
  align-self: center;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-image: linear-gradient(60deg, #FF79DA, #9356DC);
  border-color: transparent;
  border-radius: 30px;
  box-shadow: 0px 3px 10px -1px rgba(0, 0, 0, 0.45);
  -webkit-box-shadow: 0px 3px 10px -1px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 0px 3px 10px -1px rgba(0, 0, 0, 0.45);
  color: white;
  margin-bottom: 60px;
}
.presentation__bouton:hover, .commande__bouton:hover {
  box-shadow: 0px 3px 10px -1px rgba(0, 0, 0, 0.99);
  -webkit-box-shadow: 0px 3px 10px -1px rgba(0, 0, 0, 0.99);
  -moz-box-shadow: 0px 3px 10px -1px rgba(0, 0, 0, 0.99);
  background-image: linear-gradient(60deg, #ff88de, #9b63df);
}

.commande__bouton {
  margin-top: 50px;
  opacity: 0;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
footer li {
  margin-bottom: 5px;
}
footer a {
  text-decoration: none;
  color: white;
}
footer i {
  font-size: 0.8em;
  padding-right: 8px;
}

/*# sourceMappingURL=style.css.map */
