@import "../utils/breakpoints";
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}
@keyframes disparition {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes apparition {
  from {
    opacity: 0.25;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadein-translation {
  from {
    margin-top: 60px;
  }
  to {
    opacity: 1;
  }
}

@for $i from 1 through 15 {
  .fadeinmenu-#{$i} {
    opacity: 0;
    $delay : #{$i/5}s;
    animation: fadein-translation 1.5s ease-in-out $delay forwards;
  }
}

@mixin shadows-classique {
  box-shadow: 0px 3px 10px -1px rgba(0, 0, 0, 0.45);
  -webkit-box-shadow: 0px 3px 10px -1px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 0px 3px 10px -1px rgba(0, 0, 0, 0.45);
}

@mixin shadows-renforcées {
  box-shadow: 0px 3px 10px -1px rgba(0, 0, 0, 0.99);
  -webkit-box-shadow: 0px 3px 10px -1px rgba(0, 0, 0, 0.99);
  -moz-box-shadow: 0px 3px 10px -1px rgba(0, 0, 0, 0.99);
}

@mixin bouton-action {
  display: flex;
  align-self: center;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-image: linear-gradient(60deg, $secondary-color, $primary-color);
  border-color: transparent;
  border-radius: 30px;
  @include shadows-classique;
  color: white;
  margin-bottom: 60px;
  &:hover {
    @include shadows-renforcées;
    background-image: linear-gradient(
      60deg,
      lighten($secondary-color, 3%),
      lighten($primary-color, 3%)
    );
  }
}

//loadingspinner
#loadingspinner {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 200px;
  width: 200px;
  margin: -100px 0 0 -100px;
  border: 6px solid transparent;
  border-top-color: $primary-color;
  border-radius: 50%;
  animation: rotation 1.5s linear 2, disparition 1s 2.25s forwards;
  &::before {
    content: "";
    position: absolute;
    top: 15px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    border: 4px solid transparent;
    border-radius: 50%;
    border-top-color: $secondary-color;
    animation: rotation 3s linear 1;
  }
  &::after {
    content: "";
    position: absolute;
    top: 35px;
    right: 35px;
    bottom: 35px;
    left: 35px;
    border: 2px solid transparent;
    border-radius: 50%;
    border-top-color: $tertiary-color;
    animation: rotation 1s linear 3;
  }
}

//lieu géographique - page d'accueil
.location {
  display: flex;
  width: 100%;
  background-color: $bg-color;
  margin: 0;
  height: 50px;
  color: darken($bg-color, 80%);
  justify-content: center;
  align-items: center;
  i {
    position: relative;
    right: 30px;
  }
}
//boutons de la zone fonctionnement - page d'accueil
.fonctionnement {
  &__bouton {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: center;
    width: 300px;
    height: 75px;
    padding-left: 20px;
    background-color: lighten($bg-color, 5%);
    border-radius: 20px;
    font-weight: 500;
    @include shadows-classique;
    &:hover {
      background-color: lighten($primary-color, 35%);
      i {
        color: $primary-color;
      }
    }
    &__icone {
      color: darken($bg-color, 40%);
      padding-right: 25px;
      width: 15px;
      font-size: x-large;
    }
    &__numero {
      position: relative;
      right: 35px;
      padding: 5px 10px;
      background-color: $primary-color;
      border-radius: 50%;
      color: white;
    }
  }
}
// coeur sur chaque restaurant - page d'accueil et menu
.coeur i {
  font-weight: 100;
  font-size: 30px;
  margin-right: 20px;
  &:hover{
    background: linear-gradient($primary-color, $secondary-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
    opacity: 0;
    animation: apparition 0.5s cubic-bezier(.54,.83,.73,1.38) forwards;
  }
}

// boutons d'action
.plats__bouton {
  @include bouton-action;
}

.presentation, .commande {
  &__bouton {
    width: 215px;
    @include bouton-action;
  }
}

.commande {
  &__bouton {
    margin-top: 50px;
    opacity: 0;
  }
}

//footer
footer {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  li {
    margin-bottom: 5px;
  }
  a {
    text-decoration: none;
    color: white;
  }
  i {
    font-size: 0.8em;
    padding-right: 8px;
  }
}
