$breakpoints: (
  mobile: 599px,
  tablette: 768px,
);

@mixin mobile-only {
  @media screen and (max-width: map-get($breakpoints, mobile)) {
    @content;
  }
}

@mixin mobile-tablette {
  @media screen and (max-width: map-get($breakpoints, tablette)) {
    @content;
  }
}
