$primary-color : #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$bg-color: #eaeaea;
$bg-color-etiquette-carte: #99e2d0;
$largeurcardsmartphone: 373px;
$largeurcheckplat: 70px;
$largeurtexteplat: 265px;
$largeurtexteplatreduite: $largeurtexteplat - 70px; // largeur de la div contenant la decription du plat après animation"
